<h1>Product <%= @product.sku %> info</h1>
<table>
  <thead>
    <tr>
      <th>scu</th>
      <th>supplier</th>
      <th>field1</th>
      <th>field2</th>
      <th>field3</th>
      <th>field4</th>
      <th>field5</th>
      <th>field6</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @product.sku %></td>
      <td><%= @product.supplier_id %></td>
      <td><%= @product.field1 %></td>
      <td><%= @product.field2 %></td>
      <td><%= @product.field3 %></td>
      <td><%= @product.field4 %></td>
      <td><%= @product.field5 %></td>
      <td><%= @product.field6 %></td>
      <td><%= @product.price %></td>
      <td><%= link_to "edit", controller: :products, action: :edit, product: { sku: @product } %></td>
    </tr>
  </tbody>
</table>
<br>
