<!DOCTYPE html>
<html>
  <head>
    <title>CsvParser</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br>
    <%= button_to "Home", suppliers_path, method: :get %>
    <%= yield %>
  </body>
</html>
